.gs-container {
    height: 100%;
    position: relative;
    margin: 0 auto;
}

@include mq(tablet) {
    .gs-container {
        max-width: 740px;
    }
}

@include mq(desktop) {
    .gs-container {
        max-width: 980px;
    }
}

@include mq(leftCol) {
    .gs-container {
        max-width: 1140px;
    }
}

@include mq(wide) {
    .gs-container {
        max-width: 1300px;
    }
}

.preppers__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: $c-yellow;
}

.preppers__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    svg {
        height: 100%;
        width: 200%;
        margin-left: -20%;

        @include mq(tablet) {
            width: 100%;
            height: 80%;
            margin-left: 0;
        }
    }
}